/******************Tag SELECTORS************/
h1{
    color: red;
    font-size: 200px;
}

img:hover{
    background-color: gold;
}

/*****************CLASS SELECORS*******/
.Apple {
    background-color: green;
}
.broccoli{
    background-color: red;
}
/***********ID SELECTOR**************/
#heading{
    color: blue;
}